:root {
  --primary-color: #ffffff;
  --primary-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-bgc: #f5f4fa;
  --second-bgc: rgba(47, 48, 58, 0.8);
  --footer-bgc: #2f303a;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --icon-color: #afb1b8;
  --border-line-color: #ececec;

  --tab-size: 15px;
  --tab-size-inverse: -15px;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  background: #f5f4fa;
}

/* избавится */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);

  background-color: var(--primary-color);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--tab-size);
  padding-right: var(--tab-size);
}

/* Header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  background-color: var(--primary-color);
  border-bottom: 1px solid #ececec;
}

.header__items {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 85px;
}

.logo {
  display: block;
  flex-shrink: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--primary-title-color);
}

.logo__text {
  color: var(--accent-color);
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.header__item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav {
  color: var(--primary-title-color);
}

.nav__list {
  display: flex;
}

.nav__item {
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: inherit;
  transition: color 250ms var(--timing-function);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__link--accent {
  color: var(--accent-color);
}

.nav__link--accent::after {
  content: " ";

  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact__list {
  display: flex;
}

.contact__item:not(:last-child) {
  margin-right: 30px;
}

.contact__link {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: inherit;
  fill: currentColor;

  transition: color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact__icon {
  width: 16px;
  height: 16px;
  fill: inherit;
  margin-right: 10px;
}

/* Main */

.layout__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.layout__section--no-gap-bottom {
  padding-bottom: 0;
}

.layout__section--bgc-grey {
  background: var(--second-bgc);
}

.layout__title {
  /* outline: red solid 3px; */
  margin-bottom: 50px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: var(--primary-title-color);
}

/* Hero */

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  letter-spacing: 0.06em;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-color);
}

/* Button */

.button {
  display: inline-block;
  padding: 10px 32px;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  color: var(--primary-color);
  background-color: var(--accent-color);
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button--icon::after {
  content: "";

  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icon_send.svg);
}

/* card set */

.cards {
  /* outline: teal solid 3px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: var(--tab-size-inverse);

  padding: 0;
  list-style: none;
}

.cards__item {
  /* position: relative; */
  padding: var(--tab-size);
  width: calc(100% / 3);
}

.cards__item--four-in-line {
  width: calc(100% / 4);
}

.cards__item--six-in-line {
  width: calc(100% / 6);
}

/* Features */

.features__icon::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: calc(2 * var(--tab-size));

  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--primary-bgc);
  border-radius: 4px;
}

.features__icon--antenna::before {
  background-image: url(../images/antenna.svg);
}
.features__icon--clock::before {
  background-image: url(../images/clock.svg);
}
.features__icon--diagram::before {
  background-image: url(../images/diagram.svg);
}
.features__icon--astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.features__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: var(--primary-title-color);
}

/* Preview-list */

.wrap {
  overflow: hidden;
  position: relative;
}

.wrap__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  padding-top: 27px;
  padding-bottom: 27px;

  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  color: var(--primary-color);
  background-color: var(--second-bgc);
}

.wrap-text {
  font-size: 18px;
  line-height: 1.56;

  color: var(--primary-color);
  background-color: var(--accent-color);
}

/* person */

.person {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  background-color: var(--primary-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.person__container {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
}

.person__title {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--primary-title-color);
}

.person__text {
  margin-bottom: 16px;
}

/* Сlient */

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid;
  border-radius: 4px;

  border-color: var(--icon-color);
  fill: var(--icon-color);

  transition: border-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}

.client__link:hover,
.client__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.client__icom {
  fill: inherit;
}

/* social */

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -5px;

  padding: 0;
  list-style: none;
}

.page-footer__social .social__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-color);
}

.social__item {
  padding: 5px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 4px;
  border-radius: 50%;

  background-color: inherit;
  fill: var(--icon-color);

  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-color);
}

.social__icon {
  width: 50%;
  fill: inherit;
}

/* Portfolio */

.nav-card {
  display: flex;
  justify-content: center;
  margin-left: -4px;
  margin-right: -4px;
  margin-bottom: 50px;
}

.nav-card__link {
  display: inline-block;
  height: 38px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 6px 22px;

  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-title-color);
  background-color: var(--primary-bgc);
  font-family: inherit;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.nav-card__link:hover,
.nav-card__link:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

/* product */

.product__link {
  display: block;
  border: 1px solid #eeeeee;
  box-shadow: none;

  transition: box-shadow 250ms var(--timing-function);
}

.product__link:hover,
.product__link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.product__contains {
  display: flex;
  align-items: center;
  overflow: auto;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 24px;
  transform: translateY(105%);
  transition: transform 250ms var(--timing-function);

  background-color: rgba(33, 150, 243, 0.9);
}

.product__text {
  /* to do */
  /* центрировать текст по вертикали */
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-color);
}

.product__link:hover .product__contains,
.product__link:focus .product__contains {
  transform: translateY(0%);
}

.product__container {
  padding: 20px 24px;
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.product__desc {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* Footer */

.page-footer {
  background-color: var(--footer-bgc);
}

.page-footer__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__logo {
  margin-bottom: 20px;
  color: var(--primary-color);
}

.address {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__text {
  color: var(--primary-color);
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

.address__link:hover {
  color: var(--accent-color);
}

.page-footer__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.page-footer__social-list {
  width: 206px;
}

.footer__form {
  display: flex;
  align-items: center;
  width: 570px;
}

.footer__input {
  flex-grow: 1;
  margin-right: 10px;
  height: 50px;
  padding: 15px;
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Form */

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* width: 100px; */
  /* height: 100px; */

  z-index: 10;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 1000ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1000ms var(--timing-function);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  padding: 40px;

  background-color: var(--primary-color);
}

.modal__title {
  margin-top: 0;
  margin-bottom: 30px;

  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--primary-title-color);
}

.form__field {
  position: relative;
  margin-bottom: 28px;
}

.form__field--min-mb {
  margin-bottom: 20px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;

  color: var(--primary-text-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__input:focus {
  border: 1px solid var(--accent-color);
}

.form__label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  color: var(--primary-text-color);
}

.form__textarea + .form__label {
  top: 16px;
  left: 16px;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);

  width: 13px;
  height: 13px;
}

.form__icon--width {
  width: 15px;
}

.form__textarea {
  padding: 13px 16px;
  width: 100%;
  height: 120px;
  resize: none;
}

.form__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  top: -4px;
  left: 16px;
  transform: translateY(-100%);
  color: var(--accent-color);
}

/* .form__input:not(:focus) + .form__label {
  color: var(--primary-text-color);
} */

.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
}

.form__textarea:focus + .form__label,
.form__textarea:not(:placeholder-shown) + .form__label {
  top: -4px;
  left: 16px;
  transform: translateY(-100%);
  color: var(--accent-color);
}

.form__textarea:focus ~ .form__icon,
.form__textarea:not(:placeholder-shown) ~ .form__icon {
  fill: var(--accent-color);
}

/* to do */
.form__checkbox {
  /* Оригинальный чекбокс о принятии лицензионного соглашения в форме заявки скрыт, а его визуальное оформление сделано вручную, при помощи псевдоэлемента и векторного изображения галочки. */
  /* Когда инпут получает фокус, иконка в нём меняет цвет на основной цвет акцента. */
}

.form__button {
  display: block;
  margin: 0 auto;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  fill: var(--primary-title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.button-close:hover {
  fill: var(--accent-color);
}

.button-close__icon {
  width: 11px;
  height: 11px;
}
