.container {
  width: 200px;
  height: 200px;
  outline: 3px solid teal;
}

.link {
  text-decoration: none;
  outline: 3px solid red;
}

.title {
  color: tomato;
}

.text {
  background-color: seagreen;
}

.container:hover .text {
  background-color: blue;
}
