/* Сlient */
.client {
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border: 1px solid;
    border-radius: 4px;

    border-color: $icon-color;
    fill: $icon-color;

    transition: border-color 250ms $timing-function, fill 250ms $timing-function;
  }

  &__link:hover,
  &__link:focus {
    border-color: $accent-color;
    fill: $accent-color;
  }

  &__icom {
    fill: inherit;
  }
}
