.contact__list {
  display: flex;
}

.contact__item:not(:last-child) {
  margin-right: $tab-size * 2;
}

.contact__link {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: inherit;
  fill: currentColor;

  transition: color 250ms $timing-function, fill 250ms $timing-function;
}

.contact__link:hover,
.contact__link:focus {
  color: $accent-color;
  fill: $accent-color;
}

.contact__icon {
  width: 16px;
  height: 16px;
  fill: inherit;
  margin-right: 10px;
}
