.contact {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: $tab-size * 2;
  }

  &__link {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: inherit;
    fill: currentColor;

    transition: color 250ms $timing-function, fill 250ms $timing-function;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
    fill: $accent-color;
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: inherit;
    margin-right: 10px;
  }
}
