/* Features */

.features {
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: start;
  }
  &::before {
    content: "";
    display: block;
    height: 120px;
    margin-bottom: $tab-size * 2;

    background-repeat: no-repeat;
    background-position: center;
    background-color: $primary-bgc;
    border-radius: 4px;
  }

  &--antenna::before {
    background-image: url(../images/antenna.svg);
  }
  &--clock::before {
    background-image: url(../images/clock.svg);
  }
  &--diagram::before {
    background-image: url(../images/diagram.svg);
  }
  &--astronaut::before {
    background-image: url(../images/astronaut.svg);
  }

  &__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    color: $primary-title-color;
  }
}
