/* Header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  background-color: $primary-color;
  border-bottom: 1px solid #ececec;

  &__items {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 85px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  &__item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
