/* Main */
.layout {
  &__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__section--no-gap-bottom {
    padding-bottom: 0;
  }

  &__section--bgc-grey {
    background: $primary-bgc;
  }

  &__title {
    /* outline: red solid 3px; */
    margin-bottom: 50px;

    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;

    color: $primary-title-color;
  }
}
