.logo {
  display: block;
  flex-shrink: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: $primary-title-color;

  text-align: center;
  @media screen and (min-width: $desktop) {
    text-align: start;
  }

  @media screen and (max-width: calc(#{$tablet} - 1px)) {
    padding: 16px 0;
  }

  &__text {
    color: $accent-color;
  }
}
