.nav {
  color: $primary-title-color;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: inherit;
    transition: color 250ms $timing-function;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__link--accent {
    color: $accent-color;
  }

  &__link--accent::after {
    content: " ";

    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
