.is-hidden .modal {
  transform: scale(0);
}

.modal {
  position: relative;
  margin: auto;
  transform: scale(1);

  width: 450px;
  @media screen and (min-width: $desktop) {
    width: 528px;
  }
  padding: 40px;
  background-color: $primary-color;

  transition: transform 250ms $timing-function 250ms;

  &__title {
    margin-top: 0;
    margin-bottom: $tab-size * 2;

    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: $primary-title-color;
  }
}

.button-close {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  fill: $primary-title-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  &:hover {
    fill: $accent-color;
  }

  &__icon {
    width: 11px;
    height: 11px;
  }
}
