/* Footer */

.page-footer {
  background-color: $footer-bgc;
  padding-top: 60px;
  padding-bottom: 60px;

  &__wrap {
    @media screen and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  &__list {
    display: flex;
    // flex-wrap: wrap;
    @media screen and (max-width: $tablet) {
      flex-direction: column;
    }
    justify-content: space-between;
    align-items: baseline;

    margin: -30px auto;
    @media screen and (min-width: $desktop) {
      margin: 0;
    }
  }
  &__item {
    margin: 30px auto;
    @media screen and (min-width: $desktop) {
      margin: 0;
    }
  }
  &__item:first-child {
    @media screen and (min-width: $desktop) {
      margin-right: 70px;
    }
  }
  &__logo {
    margin-bottom: 20px;
    color: $primary-color;
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width: $desktop) {
      text-align: start;
    }
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $primary-color;
  }

  &__social-list {
    width: 206px;
  }

  &__social .social__link {
    background-color: rgba(255, 255, 255, 0.1);
    fill: $primary-color;
  }

  &__form {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }
  }

  &__input {
    flex-grow: 1;
    margin-bottom: 20px;

    margin-left: auto;
    margin-right: auto;

    height: 50px;
    padding: 15px;
    color: $primary-color;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 450px;

    @media screen and (min-width: $desktop) {
      width: 350px;
      margin-bottom: 0;
      margin-right: 10px;
    }
  }
}
